<!-- Pencarian berdasarkan judul buku -->
<label for="search-book">Cari berdasarkan judul buku:</label>
<input type="text" id="search-book" name="search-book" placeholder="Masukkan judul buku...">

<!-- Pencarian berdasarkan kategori buku -->
<label for="search-category">Cari berdasarkan kategori buku:</label>
<select id="search-category" name="search-category">
  <option value="">Pilih kategori...</option>
  <option value="fiction">Fiksi</option>
  <option value="nonfiction">Nonfiksi</option>
  <option value="biography">Biografi</option>
  <option value="history">Sejarah</option>
  <!-- tambahkan kategori buku lainnya -->
</select>

<!-- Filter berdasarkan format buku -->
<label>Filter berdasarkan format buku:</label>
<input type="checkbox" id="book-format-physical" name="book-format-physical" value="physical">
<label for="book-format-physical">Buku Fisik</label>
<input type="checkbox" id="book-format-ebook" name="book-format-ebook" value="ebook">
<label for="book-format-ebook">Ebook</label>

<!-- Rekomendasi buku berdasarkan preferensi atau pembelian sebelumnya -->
<h3>Rekomendasi buku untuk Anda:</h3>
<!-- tampilkan buku-buku rekomendasi -->

<!-- Diskon atau promo khusus untuk buku tertentu -->
<h3>Promo khusus untuk buku ini:</h3>
<!-- tampilkan informasi promo untuk buku ini -->

<!-- Pilihan untuk membandingkan harga buku dari beberapa penjual -->
<label for="compare-prices">Bandingkan harga dari penjual lain:</label>
<input type="text" id="compare-prices" name="compare-prices" placeholder="Masukkan nama buku...">

<!-- Pengiriman gratis atau opsi pengiriman berbayar -->
<label for="shipping">Pilih opsi pengiriman:</label>
<input type="radio" id="shipping-free" name="shipping" value="free">
<label for="shipping-free">Gratis</label>
<input type="radio" id="shipping-paid" name="shipping" value="paid">
<label for="shipping-paid">Berbayar</label>

<!-- Opsi pembayaran yang berbeda seperti kartu kredit, transfer bank atau e-wallet -->
<label for="payment">Pilih opsi pembayaran:</label>
<select id="payment" name="payment">
  <option value="">Pilih opsi pembayaran...</option>
  <option value="credit-card">Kartu kredit</option>
  <option value="bank-transfer">Transfer bank</option>
  <option value="e-wallet">E-wallet</option>
  <!-- tambahkan opsi pembayaran lainnya -->
</select>
