body {
  background-image: url(../img/pattern.jpg);
  margin: 0px;
}

header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

header img{
  margin-left: 100px; 
  margin-top: -20px; 
}

header ul {
  list-style: none;
}

header li {
  margin: 5px;
  display: inline;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: none;
}

.ul_searchbar{
  margin-right: 15px; 
  margin-top: -30px;
  margin-bottom: 0px;
}

.li_searchbar{
  margin-bottom: 0px;
  padding-bottom: 10px;
}


#navigasi {
  padding: 10px;
  text-align: center;
}

#navigasi ul {
  list-style: none;
  border: 1px solid #aaa;
  padding: 20px;
}

#navigasi li {
  display: inline-block;
  padding-right: 100px;
}

#navigasi a {
  padding: 3px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}

#navigasi a:hover {
  color: #ff4e00;
  text-decoration: none;
}

#navigasi .current a {
  background: gray;
  color: #fff;
  border-radius: 5px;
}

.jumbotron {
    background: url("../img/6505894.jpg");
    background-size: 100%;
}

.no_border {
  border: 0;
  box-shadow: none; 
}


