<h1><strong>Buat Account Baru!</strong></h1>

<h2><strong>Sign Up Form</strong></h2>
<form class="generated-form" method="post" action="welcome.html" target="_self">
    <label for="text">First Name:</label><br><br>
    <input type="text" id="text" name="text"><br><br>
    <label for="text">Last Name:</label><br><br>
    <input type="text" id="text" name="text"><br><br>
    <label for="text">Gender:</label><br><br>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other">Other</label><br><br>
    <label for="cars">Nationality:</label><br><br>
    <select id="cars">
        <option value="Indonesian">Indonesian</option>
    </select> <br><br>
    <label for="other">Language Spoken</label><br><br>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1">Bahasa Indonesia</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> English</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> Other</label><br><br>
    <label for="other">BIO</label><br><br>
    <textarea id="w3codeGenText" name="textarea" rows="3" cols="50"></textarea><br><br>
    <input type="submit" value="Submit"><br><br>
</form>