<h1><strong>SanberBook</strong></h1>

<h2><strong>Social Media Developer Santai Berkualitas</strong></h2>

<p>Belajar dan Berbagi agar hidup ini semakin santai berkualitas</p>

<h3><strong>Benefit Join di SanberBook</strong></h3>


<ul>
	<li>Mendapatkan motivasi dari sesama developer</li>
	<li>Sharing knowledge dari para mastah Sanber</li>
	<li>Dibuat oleh calon web developer terbaik</li>
</ul>

<h3><strong>Cara Bergabung ke SanberBook</strong></h3>

<ol>
	<li>Mengunjungi Website ini</li>
	<li>Mendaftar di <a href="form.html">Form Sign Up</a></li>
	<li>Selesai!</li>
</ol>
